* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: sans-serif;
}

.container  {
    max-width: 1200px;
    min-width: 360px;
    width: 100%;
    margin: 0 auto;
}

.row {
    margin: 0 2%;
}

.grayPinkBg {
    background: #A79798;
    padding: 2em 0;
}

.grayBg {
    background: #80797B;
    padding: 2em 0;
}

.pinkBg {
    background: #e5cccf;
    padding: 20px 0;
}

header, footer {
    min-height: 80px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 1px 1px;
    grid-template-areas: ". .";
}

footer {
    padding-top: 60px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1px 1px;
    grid-template-areas: "." ".";
    justify-items: center;
    align-items: center;
}

footer .socialWrap {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1px 1px;
    grid-template-areas: "." ".";
    justify-items: center;
}

.copywrite {
    margin-top: 20px;
}

nav {
    display: none;
}

.textCenter {
    text-align: center;
}

ul {
    list-style-type: none;
    padding: 0;
}

a {
    text-decoration: none;
    text-transform: uppercase;
    color: inherit;
}

/* =========== burger-menu =========== */

#menu__toggle {
    opacity: 0;
}

  /* стилизуем кнопку */
.menu__btn {
    display: flex;
    align-items: center;
    position: fixed;
    top: 55px;
    left: 20px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 10;
}

  /* добавляем "гамбургер" */
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #fff;
    z-index: 999;
}

.menu__btn > span::before {
    content: '';
    top: -8px;
}

.menu__btn > span::after {
    content: '';
    top: 8px;
}

  /* контейнер меню */
.menu__box {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    left: -100%;
    width: 85%;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    text-align: center;
    background-color: #A79798;
    box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
    transition: all ease 0.5s;
    z-index: 5;
}

  /* элементы меню */
.menu__item {
    display: block;
    padding: 12px 24px;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 2em;
    text-decoration: none;
}

#menu__toggle:checked ~ .menu__btn > span {
    transform: rotate(45deg);
}
#menu__toggle:checked ~ .menu__btn > span::before {
    top: 0;
    transform: rotate(0);
}
#menu__toggle:checked ~ .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu__box {
    visibility: visible;
    left: 0;
}
#menu__toggle:checked ~ .socialMedia {
    opacity: 0;
}

/* =========== burger-menu end =========== */

.socialMedia {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-content: flex-start;
    align-items: center;
    position: relative;
}

.socialMedia__item {
    order: 0;
    flex: 0 1 auto;
    align-self: auto;
}

.socialMedia__item img {
    width: 27px;
    margin-left: 7px;
}

.box {
    width: 70px;
    height: 70px;
    background: #fff;
    border-radius: 50%;
}

.cardWrap {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1px 1px;
    grid-template-areas: "." ".";
    padding: 20px 0;
    justify-items: center;
    align-items: center;
}

.boxMax {
    width: 100px;
    height: 100px;
    background: #fff;
    border-radius: 50%;
    border: 4px solid #93898E;
    line-height: 90px;
    text-align: center;
    margin: 20px auto;
    color: #a79798;
    text-transform: uppercase;
}

.title {
    margin-top: -75px;
}

footer .box {
    position: relative;
    top: 10%;
    left: 10px;
}

.card-inner {
    padding: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.5s;
    transform-style: preserve-3d;
}

/* ===== flip card ===== */

.card {
    background-color: transparent;
    width: 220px;
    height: 340px;
    perspective: 1000px;
}

.card svg {
    width: 500px;
}

.card:nth-child(2) {
    height: 60px;
}

.card:hover .card-inner {
    transform: rotateY(180deg);
    border: none;
}
.card-front, .card-back {
    position: absolute;
    width: 100%;
    backface-visibility: hidden;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
    align-items: center;
}
.card-front p {
    color: #a79798;
    font-size: 1.75em;
}

.card-back {
    width: 550px;
    color: #fff;
    background-color: #64585a;
    border-radius: 10px;
    color: #eeeeee;
    transform: rotateY(180deg);
    padding: 20px;
}

.card-back p {
    text-transform: none;
}

/* ===== flip card end ===== */

p {
    color: #fff;
    line-height: 1.5;
    text-transform: uppercase;
}

.flexWrap {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    padding: 20px 0;
}

.ulWrap {
    padding: 25px 0;
    width: 60%;
    margin: auto;
}

ul li {
    padding: 15px;
    color: #fff;
    text-transform: uppercase;
}

/* ====== gallery ===== */

.gallery {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 5vw);
    grid-gap: 15px;
}

.gallery__img {
    background-color: #64585A;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.gallery__item-1 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
}

.gallery__item-2 {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 3;
}

.gallery__item-3 {
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 6;
}

.gallery__item-4 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 6;
}

.gallery__item-5 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 6;
    grid-row-end: 9;
}

.gallery__item-6 {
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 6;
    grid-row-end: 9;
}

/* ====== gallery end ====== */

.expertDescription {
    margin-bottom: 20px;
}

svg {
    flex: 1;
    width: 250px;
}

.path {
    stroke-dasharray: 400;
    stroke-dashoffset: 400;
    animation: dash 5s linear forwards;
}

.gridWrap {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1px 1px;
    grid-template-areas: "." ".";
    justify-items: center;
    align-items: center;
}

.copywrite {
    text-transform: none;
}

/* =========== logo ============= */

#logo {
    margin-top: -124px;
}

.letter {
    animation: letter 5s linear forwards;
}

#_1heart, #_2heart, #_3heart {animation: fadeheart 0.8s forwards;opacity: 0;}

#_1heart { animation-delay: 3s; }
#_2heart { animation-delay: 3.5s; }
#_3heart { animation-delay: 4s; }

@keyframes fadeheart {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
  
@keyframes dash {
    to {
        stroke-dashoffset: 1000;
    }
}

@keyframes letter {
    from {
        fill: #f49ac1;
    }

    to {
        fill: #b99ac8;
    }
}

/* =========== logo end ============= */

@media screen and (min-width: 992px) {
    .cardWrap {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        gap: 1px 1px;
        grid-template-areas: ". .";
        justify-items: center;
        align-items: center;
        padding-bottom: 50px;
    }

    .gridWrap {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        gap: 1px 1px;
        grid-template-areas: ". .";
        justify-items: center;
        align-items: center;
    }

    nav, .expertDescription {
        display: block;
    }

    nav ul {
        border: none;
        position: relative;
        top: -30px;
    }

    nav ul li {
        background: none;
        display: inline;
    }

    .menu__btn {
        display: none;
    }

    footer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        gap: 1px 1px;
        grid-template-areas: ". .";
        justify-items: stretch;
    }

    .socialMedia {
        top: 10px;
    }

    footer .socialWrap {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 1px 1px;
        grid-template-areas: "." ".";
        justify-items: end;
    }
}