* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: sans-serif;
}

.container  {
    max-width: 1200px;
    min-width: 360px;
    width: 100%;
    margin: 0 auto;
}

.row {
    margin: 0 2%;
}

.grayPinkBg {
    background: #A79798;
    padding: 6em 0;
}

.grayBg {
    background: #80797B;
    padding: 20px 0;
}

header, footer {
    min-height: 80px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 1px 1px;
    grid-template-areas: ". .";
}

footer {
    padding-bottom: 30px;
}

nav {
    display: none;
}

.textCenter {
    text-align: center;
}

ul {
    list-style-type: none;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

/* =========== burger-menu =========== */

#menu__toggle {
    opacity: 0;
}

  /* стилизуем кнопку */
.menu__btn {
    display: flex;
    align-items: center;
    position: fixed;
    top: 25px;
    left: 20px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
}

  /* добавляем "гамбургер" */
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #fff;
    z-index: 999;
}

.menu__btn > span::before {
    content: '';
    top: -8px;
}

.menu__btn > span::after {
    content: '';
    top: 8px;
}

  /* контейнер меню */
.menu__box {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    left: -100%;
    width: 85%;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    text-align: center;
    background-color: #A79798;
    box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
    transition: all ease 0.5s;
}

  /* элементы меню */
.menu__item {
    display: block;
    padding: 12px 24px;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 2em;
    text-decoration: none;
}

#menu__toggle:checked ~ .menu__btn > span {
    transform: rotate(45deg);
}
#menu__toggle:checked ~ .menu__btn > span::before {
    top: 0;
    transform: rotate(0);
}
#menu__toggle:checked ~ .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu__box {
    visibility: visible;
    left: 0;
}
#menu__toggle:checked ~ .socialMedia {
    opacity: 0;
}



/* =========== burger-menu end =========== */

.socialMedia {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-content: flex-start;
    align-items: center;
    position: relative;
}

.socialMedia__item {
    width: 25px;
    height: 25px;
    background-color: #fff;
    margin: 0 10px;
    border-radius: 50%;
    order: 0;
    flex: 0 1 auto;
    align-self: auto;
}

.box {
    width: 70px;
    height: 70px;
    background: #fff;
    border-radius: 50%;
}

.cardWrap {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 1px 1px;
    grid-template-areas: ".";
    padding: 20px 0;
}

.boxMax {
    width: 100px;
    height: 100px;
    background: #fff;
    border-radius: 50%;
    border: 4px solid #93898E;
    line-height: 90px;
    text-align: center;
    margin: 0 -215px;
}

footer .box {
    position: relative;
    top: 10%;
    left: 10px;
}

.card-inner {
    margin: 0 30%;
    background-color: #af70a0;
    padding: 20px 0;
    border: 1px solid #64585A;
    margin: 0 30%;;
    padding: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.5s;
    transform-style: preserve-3d;
}

/* ===== flip card ===== */

.card {
    background-color: transparent;
    width: 220px;
    height: 300px;
    perspective: 1000px;
}

.card:hover .card-inner {
    transform: rotateY(180deg);
    border: none;
}
.card-front, .card-back {
    position: absolute;
    width: 100%;
    /* height: 100%; */
    backface-visibility: hidden;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
    align-items: center;
}
.card-front {
    color: #111111;
    
}
.card-back {
    background-color: #facbcc;
    border: 1px solid #64585A;
    color: #eeeeee;
    transform: rotateY(180deg);
    padding: 15px 0;
}

.card-back p {
    margin: 20px 0;
}

/* ===== flip card end ===== */

p {
    padding: 20px;
    background-color: #facbcc;
    color: #fff;
    line-height: 1.5;
    margin: 20px;
}

.flexWrap {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    padding: 20px 0;
}

.ulWrap {
    padding: 25px 0;
    width: 60%;
    margin: auto;
}

ul {
    border: 10px solid #64585A;
}

ul li {
    padding: 15px;
    color: #fff;
    background: #facbcc;
}

.wrapGallery {
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.gallery {
    width: 230px;
    height: 120px;
    background-color: #64585A;
    margin: 10px auto;
}

.expertDescription {
    border: none;
    display: none;
}

svg {
    flex: 1;
    width: 250px;
}

.path {
    stroke-dasharray: 400;
    stroke-dashoffset: 400;
    animation: dash 5s linear forwards;
}

@media screen and (min-width: 992px) {
    .cardWrap {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        gap: 1px 1px;
        grid-template-areas: ". .";
    }

    nav, .expertDescription {
        display: block;
    }

    nav ul {
        border: none;
        position: relative;
        top: -30px;
    }

    nav ul li {
        background: none;
        display: inline;
    }

    .menu__btn {
        display: none;
    }

    .wrapGallery {
        flex-direction: row;
    }

    .socialMedia {
        top: 10px;
    }
}